<script>
  $(document).ready(function() {
    $('body').css('background-image', 'url("https://picsum.photos/1600/900")');
  });
</script>

<div class="home">
  <div class="info">
    <div class="wrap">
      <a href="/" class="logo"><%= config.title %></a>
      <div class="subtitle"><%= config.subtitle || '' %></div>
      <hr/>
      <div class="sns">
        <% for (let item in theme.sns) { %>
          <% if (item == "Twitter" ) { %>
            <a href="<%- url_for(theme.sns[item]) %>" target="_blank" ><%= item %></a>
          <% } else { %>
            <a href="<%- url_for(theme.sns[item]) %>""><%- item %></a>
          <% } %>
        <% } %>
      </div>
      <hr/>
      <%- partial('_partial/footer') %>
    </div>
  </div>
</div>
