<script>
  $(document).ready(function() {
    $('body').css('background-image', 'url("https://source.unsplash.com/random")');
  });
</script>

<div class="home">
  <div class="info">
    <div class="wrap">
      <a href="/" class="logo"><%= config.title %></a>
      <div class="subtitle"><%= config.subtitle || '' %></div>
      <hr/>
      <div class="sns">
        <% for (let item in theme.sns) { %>
            <a href="<%- url_for(theme.sns[item]) %>" target="_blank"><%= item %></a>
        <% } %>
      </div>
      <hr/>
      <%- partial('_partial/footer') %>
    </div>
  </div>
</div>
